<!-- start custom head snippets -->

  <!-- {%- if page.mermaid -%}<script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/10.9.3/mermaid.min.js"></script>{%- endif -%} -->
  <!-- {%- if page.mermaid -%}<script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/11.9.0/mermaid.min.js"></script>{%- endif -%} -->
  {%- assign masto = post.mastodon | default: page.mastodon | default: site.mastodon } -%}
  {%- if masto.username and masto.instance -%}
    <meta name="fediverse:creator" content="@{{ masto.username }}@{{ masto.instance }}">
  {%- endif -%}
  {%- if page.draft -%}
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  {%- endif -%}

<link rel="icon" type="image/png" href="/media/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/media/favicon/favicon.svg" />
<link rel="shortcut icon" href="/media/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="CPANSec" />
<link rel="manifest" href="/media/favicon/site.webmanifest" />

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
