Salve J. Nilsen <sjn@cpan.org> <sjn@cpan.no>
Salve J. Nilsen <sjn@cpan.org> <salnil@globalconnect.no>
H.Merijn Brand <linux@tux.freedom.nl> <linux@tux.freedom.nl>
Stig Palmquist <git@stig.io> <stig@stig.io>
