{% assign entries_limit = include.entries_limit %}
{% assign collection = include.collection | default: "news" %}
{% assign entries = include.entries | default: site[collection] | where_exp: "post", "post.hidden != true" %}

{% if include.sort_by %}
  {% assign entries = entries | sort: include.sort_by %}
{% endif %}

{% if include.sort_order == 'reverse' %}
  {% assign entries = entries | reverse %}
{% endif %}

{%- for post in entries limit:entries_limit -%}
  {% include archive-single.html type=include.type %}
{%- endfor -%}

{%- if entries.size > entries_limit %}
<a class="archive__more" href="{{ site.collections[collection].canonical | default: collection }}">More…</a>
{% endif %}
