<div class="markdown-heading" dir="auto">
  <h2 class="heading-element" dir="auto">Document status: ⚠️ DRAFT</h2><a id="user-content-document-status-️--draft" class="anchor" aria-label="Permalink: Document status: ⚠️ DRAFT" href="#document-status-%EF%B8%8F--draft"><svg class="octicon octicon-link" viewbox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
  <path d="m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z"></path></svg></a>
</div>
<div class="markdown-alert markdown-alert-caution" dir="auto">
  <p class="markdown-alert-title" dir="auto"><svg class="octicon octicon-stop mr-2" viewbox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
  <path d="M4.47.22A.749.749 0 0 1 5 0h6c.199 0 .389.079.53.22l4.25 4.25c.141.14.22.331.22.53v6a.749.749 0 0 1-.22.53l-4.25 4.25A.749.749 0 0 1 11 16H5a.749.749 0 0 1-.53-.22L.22 11.53A.749.749 0 0 1 0 11V5c0-.199.079-.389.22-.53Zm.84 1.28L1.5 5.31v5.38l3.81 3.81h5.38l3.81-3.81V5.31L10.69 1.5ZM8 4a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-1.5 0v-3.5A.75.75 0 0 1 8 4Zm0 8a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"></path></svg>Caution
  <p dir="auto">What you see here is a DRAFT of an overview of Open Source project life-cycle conditions and needs, created by the CPAN Security Group (CPANSec). As long as this document is in DRAFT, all of the points and ideas below are <em>suggestions</em>, and open to revision, deletion or amending – by you!
  <ul dir="auto">
    <li>Contribute on Github: <a href="https://github.com/CPAN-Security/security.metacpan.org/tree/lifecycle/docs/foss-project-lifecycle.md">https://github.com/CPAN-Security/security.metacpan.org/tree/lifecycle/docs/foss-project-lifecycle.md</a>
    <li>Discuss on IRC: ircs://ssl.irc.perl.org:7063/#cpan-security
    <li>Discuss on Matrix: <a href="https://matrix.to/#/#cpansec:matrix.org" rel="nofollow">https://matrix.to/#/#cpansec:matrix.org</a>
  </ul>
</div>
