<script type="module">
  // import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10.9.3/dist/mermaid.esm.min.mjs';
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@12.0.0/dist/mermaid.esm.min.mjs';
  mermaid.initialize({
      startOnLoad:false,
      supressErrors:false,
      htmlLabels:true,
      theme: 'redux-color', // 'redux-color' (default), 'neo', 'redux-dark-color', 'forest'
      layout: 'dagre', // 'elk' (default), 'dagre' (old default)
      look: 'classic', // 'classic' (default), 'handDrawn'
      flowchart:{
              useMaxWidth:false
          }
  });

  // mermaid.run({ querySelector: '.language-mermaid' });
  await mermaid.run({ querySelector: '.language-mermaid' });
  // await mermaid.run({ nodes: document.querySelectorAll('.language-mermaid') });
</script>
