---
layout: archive
---

{{ content }}

{% assign news_entries_layout = page.news_entries_layout | default: 'grid' %}
{% assign blog_entries_layout = page.blog_entries_layout | default: 'list' %}
{% assign news_limit = page.news_limit | default: 4 %}
{% assign blog_limit = page.blog_limit | default: 4 %}

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_news | default: "News" }}</h3>

<div class="entries-{{ news_entries_layout }}">
  {% include documents-collection.html entries=posts collection="news" type=page.news_entries_layout sort_order=page.news_sort_order sort_by=page.news_sort_by entries_limit=news_limit %}
</div>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_blogs | default: "Blog posts" }}</h3>

<div class="entries-{{ blog_entries_layout }}">
  {% include documents-collection.html entries=posts collection="blog" type=page.blog_entries_layout sort_order=page.blog_sort_order sort_by=page.blog_sort_by entries_limit=blog_limit %}
</div>

{% include paginator.html %}
